/* #navbar{
    flex-direction: column;
}


#home{

}

#services{
    flex-direction: column;

}


#services .box{
    
}


#customers{
    flex-direction: column;
    overflow: hidden;
} */